.back{
    background-image: url(/img/homeWallpaper.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
}

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #101020; 
    overflow-x: hidden;
    color: #fff;
    font-family: Impact, sans-serif;
    user-select: none;
    position: relative;
}

