<link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">

<nav class="hovertop">
    <div class="top-bar">
        <a href="{{ url_for('home', usr=session['user']) }}" class="logoLink"><img src="{{ url_for('static', filename='img/Logo.webp') }}" alt="Buddyfight Logo" class="logo"></a>
        <nav class="listOfEverything">
            <ul>
                <li id="home">
                    <a href="{{ url_for('shop', usr=session['user']) }}">Shops</a>
                </li>

                <li id="abt">
                    <a href="{{ url_for('list', usr=session['user']) }}" >Card List</a>
                </li>

                <li id="char">
                    <a href="{{ url_for('anime', usr=session['user']) }}" >Anime</a>
                    <table class="dropdown-table" id="top-anime">
                        <tr><td><a href="">Buddyfight</a></td></tr>
                        <tr><td><a href="">Buddyfight Hundred</a></td></tr>
                        <tr><td><a href="">Buddyfight DDD</a></td></tr>
                        <tr><td><a href="">Buddyfight X</a></td></tr>
                        <tr><td><a href="">Buddyfight Ace</a></td></tr>
                    </table>
                </li>

                <li id="arena">
                    <a href="{{ url_for('arenaHome', usr=session['user']) }}">Arena</a>
                    <table class="dropdown-table" id="top-arena">
                        <tr>
                            <td><a href="{{ url_for('arenaHome', usr=session['user']) }}">Play</a></td>
                        </tr>
                        <tr>
                            <td><a href="{{ url_for('arenaLobby', usr=session['user']) }}">Lobby</a></td>
                        </tr>
                        <tr>
                            <td><a href="{{ url_for('chat', usr=session['user']) }}">Chat Rooms</a></td>
                        </tr>
                        <tr>
                            <td><a href="{{ url_for('deck_builder', usr=session['user']) }}">Deck Builder</a></td>
                        </tr>
                        <tr>
                            <td><a href="{{ url_for('gacha', usr=session['user']) }}">Gacha</a></td>
                        </tr>
                    </table>
                </li>
                <li id="abt">
                    <a href="{{ url_for('about', usr=session['user']) }}" >About Us</a>
                </li>
            </ul>
        </nav>
        <div class="account">
            {% if 'user' in session %}
            <span><b>{{ session['user'] }}</b></span>
            {% else %}
            <a href="{{ url_for('login') }}" class="guest-btn">Login</a>
            <a href="{{ url_for('register') }}" class="guest-btn">Register</a>
            {% endif %}
            <a href="{{ url_for('settings', usr=session['user']) }}"><img src="{{ url_for('static', filename='img/Settings.png') }}" alt="Settings Icon" class="settings-icon"></a>
        </div>
    </div>
</nav>


<script>
    window.addEventListener('load', function () {
        const topBar = document.querySelector(".top-bar");
        topBar.classList.add("show");
    });
    
    let topBar = document.querySelector('.top-bar');
    let lastScrollY = window.scrollY;
    
    window.addEventListener('scroll', () => {
        if (window.scrollY < lastScrollY) {
            // Scrolling up
            topBar.classList.add("show");
        } else if (window.scrollY > lastScrollY) {
            // Scrolling down
            topBar.classList.remove("show");
        }
        lastScrollY = window.scrollY; // Update the last scroll position
    });
</script>