<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="website icon" href="img/admin.png">
    <link rel="stylesheet" href="css/admin.css">
    <link rel="stylesheet" href="css/modal.css">
    <script src="https://code.highcharts.com/highcharts.js"></script>
</head>
<body>

    {% block music %}
    {% include 'includes/_sound-effects.html' %}
    {% endblock %}
    
    <!-- Modal -->
    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close-button">&times;</span>
            <div id="modal-message"></div>
        </div>
    </div>

    <!-- Confirmation Modal for Deletion -->
    <div id="confirm-delete-modal" class="esoteric-modal">
        <div class="esoteric-modal-content">
            <span class="esoteric-close-btn" onclick="closeModal('confirm-delete-modal')">&times;</span>
            <h2>Confirm Deletion</h2>
            <p>Are you sure you want to delete this user?</p>
            <div class="modal-actions">
                <form class="modal-actions dynamic-form" method="POST" onsubmit="event.preventDefault(); deleteUser();">
                    <button type="submit" class="btn-danger modal-confirm">Yes, Delete</button>
                    <button type="button" class="btn-secondary modal-cancel" onclick="closeModal()">Cancel</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Confirmation Modal for Deletion -->
    <div id="confirm-delete-report-modal" class="esoteric-modal">
        <div class="esoteric-modal-content">
            <span class="esoteric-close-btn" onclick="closeModal('confirm-delete-report-modal')">&times;</span>
            <h2>Confirm Deletion</h2>
            <p>Are you sure you want to delete this report?</p>
            <div class="modal-actions">
                <form class="modal-actions dynamic-form" method="POST" onsubmit="event.preventDefault(); deleteReport();">
                    <button type="submit" class="btn-danger modal-confirm">Yes, Delete</button>
                    <button type="button" class="btn-secondary modal-cancel" onclick="closeModal()">Cancel</button>
                </form>
            </div>
        </div>
    </div>

    <div id="confirm-delete-sleeve-modal" class="esoteric-modal">
        <div class="esoteric-modal-content">
            <span class="esoteric-close-btn" onclick="closeModal('confirm-delete-sleeve-modal')">&times;</span>
            <h2>Confirm Deletion</h2>
            <p>Are you sure you want to delete this Sleeve?</p>
            <div class="modal-actions">
                <form class="modal-actions dynamic-form" method="POST" onsubmit="event.preventDefault(); deleteSleeve();">
                    <button type="submit" class="btn-danger modal-confirm">Yes, Delete</button>
                    <button type="button" class="btn-secondary modal-cancel" onclick="closeModal()">Cancel</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Edit User Modal -->
    <div id="edit-user-modal" class="esoteric-modal">
        <div class="esoteric-modal-content">
            <span class="esoteric-close-btn" onclick="closeModal()">&times;</span>
            <h2>Edit User</h2>
            <form id="editUserForm" method="POST" class="dynamic-form">
                <div class="form-group">
                    <label for="edit-username">Username:</label>
                    <input type="text" id="edit-username" name="username" style="pointer-events:none" required>
                </div>
                <div class="form-group">
                    <label for="edit-email">Email:</label>
                    <input type="email" id="edit-email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="edit-role">Role:</label>
                    <select id="edit-role" name="role">
                        <option value="user">User</option>
                        <option value="admin">Admin</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="edit-wins">Wins:</label>
                    <input type="number" id="edit-wins" name="wins">
                </div>
                <div class="form-group">
                    <label for="edit-losses">Losses:</label>
                    <input type="number" id="edit-losses" name="losses">
                </div>
                <div class="form-group">
                    <label for="edit-tickets">Tickets:</label>
                    <input type="number" id="edit-tickets" name="tickets" style="margin-bottom: 2vh;">
                </div>
                <button type="submit" class="btn-primary" style="margin-bottom: -4vh;">Save Changes</button>
            </form>
        </div>
    </div>

    <!-- Add Sleeve Modal -->
    <div id="add-sleeve-modal" class="esoteric-modal">
        <div class="esoteric-modal-content">
            <span class="close-button" onclick="closeAddSleeveModal()">&times;</span>
            <h3>Add New Sleeve</h3>
            <form id="add-sleeve-form" class="dynamic-form">
                <div class="form-group">
                    <label for="sleeve-type">Type:</label>
                    <input type="text" id="sleeve-type" name="sleeve_type" placeholder="Enter Sleeve Type" required>
                </div>
                <div class="form-group">
                    <label for="sleeve-image">Select Image:</label>
                    <div class="file-upload">
                        <input type="file" id="sleeve-image" name="sleeve_image" accept="image/*" required onchange="updateFileName()" style="display: none;">
                        <button type="button" class="custom-file-upload" onclick="document.getElementById('sleeve-image').click();">
                            Choose File
                        </button>
                        <span id="file-name">No file chosen</span>
                    </div>
                </div>
                <button type="button" onclick="submitAddSleeveForm()" class="btn-primary" style="margin-top: 20px;">Add Sleeve</button>
            </form>
        </div>
    </div>

    <!-- Add Anime Modal -->
    <div id="add-anime-modal" class="esoteric-modal">
        <div class="esoteric-modal-content">
            <span class="close-button" onclick="closeAddAnimeModal()">&times;</span>
            <h3>Add New Anime Episode</h3>
            <form id="add-anime-form" class="dynamic-form">
                <div class="form-group">
                    <label for="anime-season">Season:</label>
                    <input type="text" id="anime-season" name="anime-season" placeholder="Enter Anime Season..." required>
                </div>
                <div class="form-group">
                    <label for="anime-episode">Episode:</label>
                    <input type="text" id="anime-episode" name="anime-episode" placeholder="Enter Anime Episode..." required>
                </div>
                <div class="form-group">
                    <label for="anime-episode-link">Video URL:</label>
                    <input type="text" id="anime-episode-link" name="anime-episode-link" placeholder="Enter Video Url..." required>
                </div>
                <button type="button" onclick="submitAddAnimeForm()" class="btn-primary" style="margin-top: 20px;">Add Episode</button>
            </form>
        </div>
    </div>

    <!-- Delete Anime Modal -->
    <div id="confirm-delete-anime-modal" class="esoteric-modal">
        <div class="esoteric-modal-content">
            <span class="esoteric-close-btn" onclick="closeModal('confirm-delete-anime-modal')">&times;</span>
            <h2>Confirm Deletion</h2>
            <p>Are you sure you want to delete this Episode?</p>
            <div class="modal-actions">
                <form class="modal-actions dynamic-form" method="POST" onsubmit="event.preventDefault(); deleteAnime();">
                    <button type="submit" class="btn-danger modal-confirm">Yes, Delete</button>
                    <button type="button" class="btn-secondary modal-cancel" onclick="closeModal()">Cancel</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Edit Anime Modal -->
    <div id="edit-anime-modal" class="esoteric-modal">
        <div class="esoteric-modal-content">
            <span class="esoteric-close-btn" onclick="closeModal()">&times;</span>
            <h2>Update Anime</h2>
            <form id="editAnimeForm" method="POST" class="dynamic-form">
                <div class="form-group">
                    <label for="update-season">Season:</label>
                    <input type="number" id="update-season" name="update-season">
                </div>
                <div class="form-group">
                    <label for="update-episode">Episode:</label>
                    <input type="number" id="update-episode" name="update-episode">
                </div>
                <div class="form-group">
                    <label for="update-url">Video Url:</label>
                    <input type="text" id="update-url" name="update-url" style="margin-bottom: 2vh;">
                </div>
                <button type="submit" class="btn-primary" style="margin-bottom: -4vh;">Save Changes</button>
            </form>
        </div>
    </div>

    <nav>
        <a href="{{ url_for('routes.home') }}" class="return-button">Home</a>
        <div class="tabs">
            <button class="tablinks active first" onclick="openTab(event, 'Dashboard')">Dashboard</button>
            <button class="tablinks" onclick="openTab(event, 'Users')">Users</button>
            <button class="tablinks" onclick="openTab(event, 'Anime')">Anime</button>
            <button class="tablinks" onclick="openTab(event, 'List')">Sleeves</button>
            <button class="tablinks" onclick="openTab(event, 'Payments')">Payments</button>
            <button class="tablinks" onclick="openTab(event, 'Reports')">Reports</button>
        </div>
    </nav>

    <div class="container">
        <div id="Dashboard" class="tabcontent" style="display: block;">
            <h3>Dashboard</h3>
            <table class="dashboard-table">
                <thead>
                    <tr>
                        <th class="dashboard">Total Users</th>
                        <th class="dashboard">Total Income</th>
                        <th class="dashboard">Total Tickets Bought</th>
                        <th class="dashboard">Total Matches</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="dashboard">{{ total_users }}</td>
                        <td class="dashboard">${{ total_cash }}</td>
                        <td class="dashboard">{{ total_tickets_bought }}</td>
                        <td class="dashboard">{{ total_matches }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="dashboard-container">
                <div class="sheet" id="cash-sheet"></div>
                <div class="sheet" id="matches-sheet"></div>
            </div>
        </div>

        <div id="Users" class="tabcontent">
            <h3>User List</h3>
            <form method="GET" id="user-filter-form" action="javascript:void(0);" onsubmit="fetchAndRenderUsers()">
                <input type="text" id="username-search" class="search_input" name="search" placeholder="Search users..." value="{{ search_query }}">
                <button type="submit" class="filter-btn-user">Search</button>
            </form>
            <table class="user-table">
                <thead>
                    <tr>
                        <th class="user">Username</th>
                        <th class="user">Email</th>
                        <th class="user">Role</th>
                        <th class="user">Wins</th>
                        <th class="user">Losses</th>
                        <th class="user">Tickets</th>
                        <th class="user">Actions</th>
                    </tr>
                </thead>
                <tbody id="user-table-body">   
                </tbody>
            </table>
        </div>

        <div id="Anime" class="tabcontent">
            <h3>Anime Episodes</h3>
            <form method="GET" action="javascript:void(0);" onsubmit="fetchAndRenderAnime()">
                <input type="text" style="width: 10vw;" id="search_anime" class="search_input" name="search_anime" placeholder="Search Season...">
                <input type="text" style="width: 10vw;" id="search_anime_episode" class="search_input" name="search_anime_episode" placeholder="Search Episode...">
                <button type="submit" class="filter-btn-user">Search</button>
            </form>
            <div class="add-sleeve-button" onclick="openAddAnimeModal()">Add Anime</div>
            <table class="user-table" id="anime-table">
                <thead>
                    <tr>
                        <th class="anime">Anime ID</th>
                        <th class="anime">Season</th>
                        <th class="anime">Episode</th>
                        <th class="anime">Update</th>
                        <th class="anime">Delete</th>
                    </tr>
                </thead>
                <tbody id="anime-table-body">
                    <!-- Dynamically Generated -->
                </tbody>
            </table>
        </div>

        <div id="List" class="tabcontent">
            <h3>Sleeves</h3>
            <form method="GET" action="javascript:void(0);" onsubmit="fetchAndRenderSleeves()">
                <input type="text" id="search" class="search_input" name="search_sleeve" placeholder="Search sleeve type...">
                <button type="submit" class="filter-btn-user">Search</button>
            </form>
            <div class="add-sleeve-button" onclick="openAddSleeveModal()">Add Sleeve</div>
            <div id="sleeves-container">
                <!-- Dynamically Generated -->
            </div>
        </div>

        <div id="Payments" class="tabcontent">
            <h3>Payments</h3>
            <a href="#" class="filter-btn" onclick="togglePaymentFilter()" style="text-decoration: none;">Filter</a>

            <div id="payment-filter-panel" class="filter-panel" style="display: none;">
                <form method="GET" action="javascript:void(0);" onsubmit="fetchAndRenderPayments()">
                    <label for="user-payment">User:</label>
                    <input type="text" id="user-payment" name="user-payment" placeholder="Enter User" list="user-options" value="{{ user_payment_filter }}">
                    <datalist id="user-options">
                        {% for user in users %}
                            <option value="{{ user.username }}">{{ user.username }}</option>
                        {% endfor %}
                    </datalist>

                    <label for="payment-amount">Price:</label>
                    <input type="number" id="payment-amount" name="payment-amount" placeholder="Enter Amount" value="{{ payment_amount_filter }}">

                    <label for="item-count">Count:</label>
                    <input type="number" id="item-count" name="item-count" placeholder="Enter Amount" value="{{ payment_amount_filter }}">

                    <button type="submit" class="btn-primary">Apply Filter</button>
                    <button type="button" class="btn-secondary" style="padding: 8px 15px; font-weight: bold; font-size: 14px;" onclick="resetPaymentFilter()">Reset</button>

                </form>
            </div>

            <table class="user-table" id="payments-table">
                <thead>
                    <tr>
                        <th class="payment">Payment ID</th>
                        <th class="payment">User</th>
                        <th class="payment">Amount</th>
                        <th class="payment">Price</th>
                        <th class="payment">Date</th>
                    </tr>
                </thead>
                <tbody id="payments-table-body">
                </tbody>
            </table>
        </div>

        <div id="Reports" class="tabcontent">
            <h3>Reports</h3>

            <a href="#" class="filter-btn" onclick="toggleFilter()" style="text-decoration: none;">Filter</a>
            <div id="report-filter-panel" class="filter-panel" style="display: none;">
                <form method="GET" action="javascript:void(0);" onsubmit="fetchAndRenderReports()">
                    <label for="user-reporting">User Reporting:</label>
                    <input type="text" id="user-reporting" name="user-reporting" placeholder="Enter User Reporting" list="user-reporting-options" value="{{ user_reporting_filter }}">
                    <datalist id="type-options">
                        {% for user in users %}
                            <option value="{{ user.username }}">{{ user.username }}</option>
                        {% endfor %}
                    </datalist>
                    <label for="reported-user">Reported User:</label>
                    <input type="text" id="reported-user" name="reported-user" placeholder="Enter User being reported" list="reported-user-list" value="{{ reported_user_filter }}">
                    <datalist id="reported-user-list">
                        {% for user in users %} 
                            <option value="{{ user.username }}">{{ user.username }}</option>
                        {% endfor %}
                    </datalist>
                    <label for="report-type">Report Type:</label>
                    <input type="text" id="report-type" name="report-type" placeholder="Enter Report Type" list="report-type-list" value="{{ report_type_filter }}">
                    <datalist id="report-type-list">
                        <option value="User Report">User Report</option>
                        <option value="Bug Report">Bug Report</option>
                        <option value="Feedback">Feedback</option>
                        <option value="Complaints">Complaints</option>
                    </datalist>
                    <button type="submit" class="btn-primary">Apply Filter</button>
                    <button type="button" class="btn-secondary" style="padding: 8px 15px; font-weight: bold; font-size: 14px;" onclick="resetFilter()">Reset</button>
                </form>
            </div>

                    <table class="user-table" id="reports-table">
                        <thead>
                            <tr>
                                <th class="report">Report ID</th>
                                <th class="report">User Reporting</th>
                                <th class="report">Reported User</th>
                                <th class="report">Report Type</th>
                                <th class="report">Details</th>
                                <th class="report">Delete</th>
                            </tr>
                        </thead>
                        <tbody id="reports-table-body">
                        </tbody>
                    </table>
        </div>
    </div>

    <script src="js/tabs.js"></script>
    <script src="js/modal.js"></script>
    <script src="js/admin.js"></script>

</body>
</html>