<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deck Builder</title>
    <link rel="website icon" href="img/Cardback.webp">
    <!-- <link rel="stylesheet" href="css/style.css"> -->
    <link rel="stylesheet" href="css/deckBuilder.css">
    <link rel="stylesheet" href="css/modal.css">
</head>
<body>
    {% block music %}
    {% include 'includes/_sound-effects.html' %}
    {% endblock %}
    <div id="modal" class="modal">
        <div class="modal-content">
            <div id="modal-message"></div>
        </div>
    </div>

    <div id="confirmation-modal" class="confirm-modal">
        <div class="confirm-modal-content">
            <p style="color: white;">Are you sure you want to delete this deck?</p>
            <div class="confirm-modal-actions">
                <button id="confirm-yess" class="confirm-btn-danger">Yes</button>
                <button id="confirm-no" class="confirm-btn-secondary">No</button>
            </div>
        </div>
    </div>

    <div id="deck-container" style="z-index: 1;">
        <div id="add-deck-modal" class="deck-modal">
            <div class="deck-modal-content">
                <h2 class="add-deck-heading">Add Deck</h2>
                <form action="{{ url_for('routes.create_deck') }}" id="addDeck">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" name="name" id="name" maxlength="10" required>
                    </div>
                    <div class="form-group">
                        <label for="flag">Flag:</label>
                        <select name="flag" id="flag" class="flag" required>
                            <option value="Dragon World">Dragon World</option>
                            <option value="Ancient World">Ancient World</option>
                            <option value="Hero World">Hero World</option>
                            <option value="Danger World">Danger World</option>
                            <option value="Legend World">Legend World</option>
                            <option value="Star Dragon World">Star Dragon World</option>
                            <option value="Darkness Dragon World">Darkness Dragon World</option>
                            <option value="Dungeon World">Dungeon World</option>
                            <option value="Katana World">Katana World</option>
                            <option value="Magic World">Magic World</option>
                            <option value="Dragon Ein">Dragon Ein</option>
                            <option value="Dragon Zwei">Dragon Zwei</option>
                            <option value="Thunder Empire">Thunder Empire</option>
                            <option value="Parade of Hundred Demons">Parade of Hundred Demons</option>
                            <option value="Searing Executioners">Searing Executions</option>
                            <option value="Divine Guardians">Divine Guardians</option>
                        </select>
                    </div>
                    <div class="buttons">
                        <button type="submit" class="btn deck-add-btn" id="deck-add-btn">Add Deck</button>
                        <button type="button" class="btn deck-cancel-btn" id="cancel-deck" onclick="hideModal()">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% block navbar %}
    {% include 'includes/_navbar.html' %}
    {% endblock %}
    <div class="lines"></div>
    <img src="{{ url_for('static', filename='img/Logo.webp') }}" alt="Buddyfight" class="deck-logo">

    <div class="container">
        {% if decks|length == 0 %}
            <div class="no-deck-message-container">
                <p class="no-deck-message" style="margin-top: 20vh;">No Existing Decks</p>
            </div>
        {% endif %}
        {% for deck in decks %}
            <div 
                class="deck-item {% if selected_deck_id == deck.id %}selected{% endif %}" 
                id="deck-item" 
                data-deck-id="{{ deck.id }}" 
                data-deck-flag="{{ deck.flag }}"
            >
                <div class="inside" id="inside">
                    <div class="dots"></div>
                    <div class="dots"></div>
                    <div class="dots"></div>
                    <div class="dots"></div>
                </div>
                <div class="banner {% if selected_deck_id == deck.id %}selected{% endif %}">
                    <div class="inner-banner {% if selected_deck_id == deck.id %}selected{% endif %}">
                        <div class="inner-banner-border">
                            <div class="inner-banner-border-fill {% if selected_deck_id == deck.id %}selected{% endif %}"></div>
                        </div>
                    </div>
                </div>
                <img src="{{ url_for('static', filename=deck.flagLink) }}" draggable="false" class="deck-flag">
                <h2 class="deck-name" style="font-size:1rem;">{{ deck.name }}</h2>
            </div>
        {% endfor %}
    </div>
    
    <div id="deck-actions-container" class="deck-actions-container">
        <button id="delete-deck-btn" class="btn deck-action-btn" disabled>Delete Deck</button>
        <button id="add-deck-btn" class="btn deck-action-btn" onclick="addDeckModal();">Add Deck</button>
        <a href="/edit_deck" style="text-decoration: none;"><button id="edit-deck-btn" class="btn deck-action-btn" disabled>Edit Deck</button></a>
    </div>
    
    
    <script src="js/deckBuilder.js"></script>
    <script src="js/modal.js"></script>
</body>
</html>