<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gameplay</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gameplay.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
    <link rel="website icon" href="{{ url_for('static', filename='img/gameplay-logo.png') }}">
    <style>
        body {
            margin: 0;
            height: 100vh;
            background-color: aliceblue;
            background: 
                url("{{ url_for('static', filename='img/starry sky.jpeg') }}");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            box-sizing: border-box;
            overflow: hidden;
            user-select: none;
        }
    </style>
</head>
<body>
    {% block music %}
    {% include 'includes/_sound-effects.html' %}
    {% endblock %}
    <div class="main-container">
        <div class="player-info-container">
            <div class="profile-card" id="opponent-profile">
                <div class="profile-picture" id="opponent-profile-picture">
                    <img src="{{ opponent_profile }}" alt="">
                </div>
                <div class="profile-username" id="opponent-username">
                    <p class="name-for-profile">{{ opponent_name }}</p>
                </div>
            </div>

            <div class="game-state-container">
                <div class="game-state-wrapper" id="game-state">
                    <div id="opponent-game-phase" class="game-phase">
                        <h2 id="opponent-game-phase-content" class="game-phase-content"></h2>
                    </div>
                    <hr>
                    <div id="user-game-phase" class="game-phase">
                        <h2 id="user-game-phase-content" class="game-phase-content"></h2>
                    </div>
                </div>
            </div>
            <div class="container-user">
                <div class="profile-card" id="player-profile">
                    <div class="profile-picture" id="player-profile-picture">
                        <img src="{{ user_profile }}" alt="">
                    </div>
                    <div class="profile-username" id="player-username">
                        <p class="name-for-profile">{{ username }}</p>
                    </div>
                </div>
                <button class="button-leave" id="leave-room-btn">Leave Room</button>
            </div>
    </div>

    <div class="arena">
        <div class="opponent-field" id="opponent-field">
            <div class="gauge-container">
                <div class="gauge-label" style="rotate: 180deg;">Gauge</div>
                <div class="gauge-value" id="opponent-gauge-value" style="rotate: 180deg;">0</div>
                <div class="gauge-space" id="opponent-gauge-space">
                    <!-- For Cards -->
                </div>
            </div>
            <div class="player-zones">
                <div class="zone" id="opponent-drop-zone" style="rotate: 180deg">Drop Zone</div>
                <div class="zone" id="opponent-deck-zone"
                    style="background-image: url('/{{ opponent_sleeve }}'); 
                            background-size: cover; background-position: center;
                            rotate: 180deg;">
                </div>
            </div>

            <div class="monster-areas">
                <div class="monster-slot" id="opponent-left" style="rotate: 180deg;"></div>
                <div class="monster-slot" id="opponent-center" style="rotate: 180deg;"></div>
                <div class="monster-slot" id="opponent-right" style="rotate: 180deg;"></div>
            </div>

            <div class="user-cards-space-wrapper">
                <div class="user-cards-space">
                    <div class="user-cards-space-content">
                        <div class="spells-zone mini-zone-circle opponent-cards" id="opponent-spell-zone" style="margin-top: -12vh;">
                            Spells Zone
                        </div>
                        <div class="mini-zone-circle" style="margin-top: -15vh;">
                            <img src="{{ url_for('static', filename=opponent_flag) }}" alt="Opponent's flag" class="card actual-flag" id="opponent-flag" style="user-select: none; position:absolute; pointer-events: none; z-index: index 1; rotate: 180deg;" draggable="false" >
                            <div class="mini-zone-circle player-mini-zone" id="opponent-flag-zone" data-zone="item" style="border: 0;"></div>
                        </div>
                        <div class="mini-zone-circle" id="opponent-buddy-zone" style="margin-top: -12vh;">
                            <img src="{{ opponent_buddy }}" alt="Opponent's Buddy" id="actual-buddy" class="card opponent-cards" style="user-select: none; position:absolute;pointer-events:none;" draggable="false">
                        </div>
                    </div>
                </div>
                <div class="opponent-hand-cards" id="opponent-hand-cards">
                    <!-- For Cards -->
                </div>
            </div>
      </div>

        <div class="player-field">
            <div class="gauge-container">
                <div class="gauge-label">Gauge</div>
                <div class="gauge-value" id="player-gauge-value">0</div>
                <div class="gauge-space user-gauge-space" id="user-gauge-space" data-zone="gauge" data-allow-append="false">
                    <!-- For Cards -->
                </div>
            </div>
            <div class="player-zones">
                <div class="zone player-zone" id="player-drop-zone" data-zone="dropzone" data-allow-append="false">Drop Zone</div>
                
                <div class="zone player-zone" id="player-deck-zone"
                    style="background-image: url('/{{ user_sleeve }}'); 
                            background-size: cover; background-position: center;" data-zone="deck" data-allow-append="false">
                        <div class="filling-space"></div>
                </div>
            </div>
            <div class="monster-areas">
                <div class="monster-slot player-monster-slot" id="player-left" data-zone="left" data-allow-append="true"></div>
                <div class="monster-slot player-monster-slot" id="player-center" data-zone="center" data-allow-append="true"></div>
                <div class="monster-slot player-monster-slot" id="player-right" data-zone="right" data-allow-append="true"></div>
            </div>
            <div class="user-cards-space-wrapper">
                <div class="user-cards-space">
                    <div class="user-cards-space-content">
                        <div class="mini-zone-circle spells-zone player-mini-zone" data-zone="spells" data-allow-append="false" id="player-spell-zone" style="margin-top: -13vh;">
                            Spells Zone
                        </div>
                        <div class="mini-zone-circle " style="margin-top: -16vh;" >
                            <img src="{{ url_for('static', filename=user_flag) }}" alt="User's flag" class="card actual-flag" id="opponent-flag" style="user-select: none; position:absolute; pointer-events: none; z-index: index 1;" draggable="false" >
                            <div class="mini-zone-circle player-mini-zone" id="player-flag-zone" data-zone="item" style="border: 0;" data-allow-append="true"></div>
                        </div>
                        <div class="mini-zone-circle" id="player-buddy-zone" style="margin-top: -13vh;" >
                            <img src="{{ user_buddy }}" alt="User's Buddy" class="card" id="actual-buddy" style="user-select: none; position:absolute;" draggable="false">
                        </div>
                    </div>
                </div>
                <div class="user-hand-cards" id="user-hand-cards" data-zone="hand" data-allow-append="true"> 
                    <!-- For Cards -->
                </div>
            </div>
        </div>
    </div>

        <div class="information-space">
            <div class="card-information" id="card-info-overlay">
                <div class="card-image" id="overlay-card-image"></div>
                <div class="card-description" style="margin-bottom: 5px" id="overlay-card-description"></div>
            </div>

            <div class="mini-chat-container">
                <div class="mini-chat-messages" id="mini-chat-messages"></div>
                <div class="mini-chat-input">
                <input type="text" id="mini-chat-input" style="font-size: 1.8vh;" placeholder="Type something..." />
                <button id="mini-chat-send">Send</button>
                </div>
            </div>

            <div class="actions-space">
                <div class="life-counter">
                    <div class="life-display">
                        <div class="opponent-life"><h1 id="opponent-life-total"></h1></div>
                    </div>
                    <div class="life-display">
                        <div class="life-controls">
                        <button id="life-up">+</button>
                        </div>
                            <div class="player-life"><h1 id="player-life-total"></h1></div>
                            <div class="life-controls">
                            <button id="life-down">-</button>
                        </div>
                    </div>
                </div>

                <div class="actions-grid">
                    <button class="action-button" id="draw-card">Draw</button>
                    <button class="action-button" id="top-deck-gauge">Gauge</button>
                    <button class="action-button" id="search-deck">Search Deck</button>
                    <button class="action-button" id="search-drop-zone">Search Drop Zone</button>
                    <button class="action-button" id="shuffle-deck">Shuffle Deck</button>
                    <button class="action-button" id="top-deck-to-soul">Top Deck to Soul</button>
                    <button class="action-button" id="top-deck-drop">Drop Top Deck</button>
                    <button class="action-button" id="top-deck-look">Look at Top</button>
                </div>
            </div>
        </div>
    </div>

    <div class="card-modal-container" id="card-draw-modal">
        <div class="card-draw-content" id="card-draw-content">
            <form id="card-draw-form" class="card-draw-form">
                <h2>Draw Cards</h2>
                <input type="number" id="card-draw-amount" placeholder="Amount" required>
                <button type="submit" id="card-draw-submit">Draw</button>
            </form>
        </div>
    </div>

    <div class="card-modal-container" id="gauge-draw-modal">
        <div class="card-draw-content" id="gauge-draw-content">
        <form id="gauge-draw-form" class="card-draw-form">
            <h2>Charge Gauge</h2>
            <input type="number" id="gauge-draw-amount" placeholder="Amount" required>
            <button type="submit" id="gauge-draw-submit">Gauge</button>
        </form>
        </div>
    </div>

    <div class="card-modal-container" id="top-drop-modal">
        <div class="card-draw-content" id="top-drop-content">
        <form id="top-drop-form" class="card-draw-form">
            <h2>Drop Top Deck</h2>
            <input type="number" id="top-drop-amount" placeholder="Amount" required>
            <button type="submit" id="top-drop-submit">Drop</button>
        </form>
        </div>
    </div>

    <div class="card-modal-container" id="top-soul-modal">
        <div class="card-draw-content" id="top-soul-content">
        <form id="top-soul-form" class="card-draw-form">
            <h2>Top Deck to Soul</h2>
            <input type="number" id="top-soul-amount" placeholder="Amount" required>
            <button type="submit" id="top-soul-submit">Soul</button>
        </form>
        </div>
    </div>

    <div class="card-modal-container" id="top-look-modal">
        <div class="card-draw-content" id="top-look-content">
        <form id="top-look-form" class="card-draw-form">
            <h2>Look at top Deck</h2>
            <input type="number" id="top-look-amount" placeholder="Amount" required>
            <button type="submit" id="top-look-submit">Look</button>
        </form>
        </div>
    </div>

    <div id="user-zones-modal-wrapper">
        <div id="user-search-deck-modal" class="deck-modal-container">
            <div class="deck-modal-header">
                <h1 class="deck-modal-title" id="player-deck-exit">Your Deck</h1>
                <button class="exit-button">Exit</button>
            </div>
            <div class="deck-modal-content player-deck-modal-content" id="player-deck-content" data-zone="deck">
                <!-- Dynamically Generated -->
            </div>
        </div>

        <div class="deck-modal-container" id="user-search-drop-modal">
            <div class="deck-modal-header">
                <h1 class="deck-modal-title">Your Dropzone</h1>
                <button class="exit-button">Exit</button>
            </div>
            <div class="deck-modal-content player-deck-modal-content" id="user-dropzone-content" data-zone="dropzone">
                <!-- Dynamically Generated -->
            </div>
        </div>

        <div class="deck-modal-container" id="user-search-soul-modal">
            <div class="deck-modal-header">
                <h1 class="deck-modal-title" id="soul-modal"> <!-- Dynamically Generated --> </h1>
                <button class="exit-button">Exit</button>
            </div>
            <div class="deck-modal-content player-deck-modal-content" id="user-soul-content" data-zone="soul">
                <!-- Dynamically Generated -->
            </div>
        </div>

        <div class="deck-modal-container" id="spell-modal">
            <div class="deck-modal-header">
                <h1 class="deck-modal-title">Your Spells</h1>
                <button class="exit-button">Exit</button>
            </div>
            <div class="deck-modal-content player-deck-modal-content" id="user-spell-content" data-zone="spells">
                <!-- Dynamically Generated -->
            </div>
        </div>
    </div>

    <div class="opponent-deck-modal-container" id="opponent-search-drop-modal">
        <div class="opponent-deck-modal-wrapper" id="opponent-deck-modal-wrapper" style="height: 60vh;">
            <div class="deck-modal-header">
                <h1 class="deck-modal-title">Opponent's Dropzone</h1>
            </div>
            <div class="deck-modal-content" id="opponent-dropzone-content">
                <!-- Dynamically Generated -->
            </div>
        </div>
    </div>

    <div class="opponent-deck-modal-container" id="opponent-spells-modal">
        <div class="opponent-deck-modal-wrapper" id="opponent-deck-modal-wrapper" style="height: 40vh; display: flex; margin-top: 10vh;">
            <div class="deck-modal-header">
                <h1 class="deck-modal-title">Opponent's Spells</h1>
            </div>
            <div class="deck-modal-content" id="opponent-spells-content">
                <!-- Dynamically Generated -->
            </div>
        </div>
    </div>

    <div class="opponent-deck-modal-wrapper" id="user-top-deck-modal" style="height: 30vh;">
        <div class="deck-modal-header">
            <h1 class="deck-modal-title" id="top-look-title"></h1>
        </div>
        <div class="deck-modal-content player-deck-modal-content" id="top-deck-look-content" data-zone="look">
            <!-- Dynamically Generated -->
        </div>
    </div>

    <div id="modal" class="modal">
        <div class="modal-content">
            <div id="modal-message" style="font-size:4vh"></div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/format.js') }}"></script>
    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js"></script>
    <script>
        const ROOM_CODE = "{{ room_code }}";
        const USERNAME = "{{ username }}";
        const OPPONENT_NAME = "{{ opponent_name }}";
        const USER_SLEEVE = "{{ user_sleeve }}";
        const OPPONENT_SLEEVE = "{{ opponent_sleeve }}";
    </script>
    <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
    <script src="{{ url_for('static', filename='js/gameplay.js') }}" defer></script>
</body>
</html>