<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="website icon" type="png" href="img/Logo.webp">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>
    {% block music %}
    {% include 'includes/_sound-effects.html' %}
    {% endblock %}
    {% block navbar %}
    {% include 'includes/_navbar.html' %}
    {% endblock %}

    <div class="back">
        <div class="header">Buddyfight</div>
    </div>
</body>
</html>